body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #101010;
    color: #f0f0f0;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1a1a1a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

section {
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #2b2b2b;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.hero {
    text-align: center;
    background-color: #3c3c3c;
    color: #f0f0f0;
    padding: 2rem 1rem;
    border-radius: 8px;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.hero button {
    padding: 0.5rem 1rem;
    background-color: #505050;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.hero button:hover {
    background-color: #666;
}

.about, .age-groups, .why-choose, .program-highlights, .registration {
    text-align: left;
}

.about h2, .age-groups h2, .why-choose h2, .program-highlights h2, .registration h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.about p, .age-groups ul, .why-choose ul, .program-highlights ul, .registration ol {
    font-size: 1rem;
}

.age-groups ul, .why-choose ul, .program-highlights ul, .registration ol {
    list-style: none;
    padding: 0;
}

.age-groups li, .why-choose li, .program-highlights li, .registration li {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.age-groups li::before, .why-choose li::before, .program-highlights li::before {
    content: "✔"; /* Placeholder for icons */
    margin-right: 0.5rem;
    color: #f0f0f0;
}

.registration li::before {
    /* content: "⮞"; Different icon for xregistration steps */
    margin-right: 0.5rem;
    color: #f0f0f0;
}

.home-footer {
    text-align: center;
    padding: 1rem;
    background-color: #1a1a1a;
    border-radius: 8px;
}

.home-footer p {
    margin: 0.5rem 0;
}

.social-media-links a {
    color: #f0f0f0;
    margin: 0 0.5rem;
    text-decoration: none;
}

.social-media-links a:hover {
    color: #ffffff;
}

/* Animation and visibility classes */
.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-in {
    animation: fadeIn 0.6s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.logout {
    font-size: 1.5rem;
}