img {
    height: 250px;
}
div h1{
    font-family: "Kaushan Script";
}
.info {
    display: flex;
    flex-direction: column;
}
.info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.info div * {
    font-family: "Kaushan Script";
    color: rgb(255, 255, 255);
    background-color: black;
}

.see-info div img {
    padding: 3px;
    background-color: rgb(0, 0, 0);
    width: 26rem;
}

.see-info button {
    width: 200px;
    height: 35px;
    /* margin-bottom: 20px; */
    background-color: rgb(65, 65, 65);
    border: rgb(32, 32, 32);
    color: white;
    font-family: "Kaushan Script";
}

.introduction {
    display: flex;
    flex-direction: column;
    width: 620px;
    margin-left: 50px;
}

.introduction h1 {
    margin: 5px;
    margin-left: 0px;
    margin-right: 20px;
    
    font-family: "Kaushan Script";
    
}

.StartGroup {
    display: flex;
    justify-content: center;
    height: 80px;
}

.StartGroup button {
    width: 20rem;
    font-size: 25px;
    height: 3.5rem;
    background-color: rgb(39, 39, 39);
    color: white;
    border: none;
    cursor: pointer;
    /* border: 1px black solid; */
    border-radius: 1rem;
    margin: .5rem;
}
button{
    border-radius: .75rem;
}
.StartGroup button a {
    color: white;
    font-family: "Kaushan Script";
}

.Join {
    display: flex;
    justify-content: center;
    align-self: center;
}

.Join button {
    width: 450px;
    height: 60px;
    color: white;
    background-color: rgb(43, 43, 43);
    cursor: pointer;
    font-size: x-large;
    font-family: "Kaushan Script";
}
button{
    cursor: pointer;
}
.see-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-content: center ; */
    margin: 2rem;
    gap: 5rem;
}
.see-info > *{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}