:root{
--customBlack:#000000;
--customBlue:#0b7b9e;
background-color: #ffffff;
}

.profile-dropdown {
  flex-direction: column;
  align-items: center;
  padding: 3px;
  font-family: "itim";
  color: var(--customBlack);
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.GroupFormLink{
  display: flex;
}
.GroupFormLink a{
  text-decoration-line: none;
  color:rgb(0, 0, 0);
  font-family: 'Kaushan Script';
  cursor: pointer;
  font-size:20px ;
}
.login,
.login>*>* {
  display: flex;
  background-color: white;
  border: none;
  padding: 5px;
  /* cursor: pointer; */
  margin-right: 5px;
  /* border-radius: 10px; */
}
.login>*>* {
  cursor: pointer;
}

.signup>* {
  background-color: rgb(65, 65, 65);
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.websiteName {
  text-decoration-line: none;
  color: rgb(0, 0, 0);
  padding: 4px 0px 0px 0px;
  font-family: "Kaushan Script";
  font-size: 30px;
  margin-left: 30px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  background-color: rgb(255, 255, 255);

}
.logout {
  border: none;
  background-color: rgb(77, 76, 76);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.userInfo button{
    background-color: rgb(59, 59, 59);
    color: #ffffff;
    border: none;
    height: 35px;
    width:110px;
    cursor: pointer;
    margin-top: auto;
}
.ulHeader{
  height: 3.5rem;
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
}
button{
  font-size: 15px;
}
li .profLink{
text-decoration-line: underline;
cursor: pointer;
}